@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
}
/* .a, .b {
    height: 300px;
}
.a {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 80px));
    background: #fe8f8f;
}
.b {
    clip-path: polygon(0 0, 100% 80px, 100% 100%, 0 100%);
    margin-top: -60px;
    background: #a0d1ff;
}
.container {
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
} */
/* header .title {
    text-align: center;
    font-size: 80px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.title {
    position: relative;
    width: auto;
    height: auto;
}
.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #151D3B, #D82148, #6EBF8B, #DADBBD);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;    
} */
